<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="login-box">

      <div class="login-box-body">
        <p class="login-box-msg"><%= t('views.app.auth.sign_in_msg') %></p>

        <%= form_for(:user, url: session_path(:user)) do |f| %>
          <div class="form-group has-feedback">
            <%= f.text_field :email, class: 'form-control', placeholder: t('models.user.email') %>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <%= f.password_field :password, class: 'form-control', placeholder: t('models.user.password') %>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>

          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"> <%= t('views.app.auth.remember_password') %>
                </label>
              </div>
            </div>

            <div class="col-xs-4">
              <%= f.submit t('views.app.auth.sign_in'), class: 'btn btn-primary btn-block btn-flat' %>
            </div>
          </div>
        <% end %>


        <br />

        <div class="row text-center">
          <div class="col-xs-6">
            <%= link_to t('views.app.auth.forgot_password'), new_password_path(:user) %>
          </div>

          <!--
          <div class="col-xs-6">
            <a href="register.html" class="text-center"><%= t('views.app.auth.sign_up') %></a>
          </div>
          -->
        </div>

        <br />

        <%= render 'shared/messages' %>

      </div>
    </div>
  </div>
</div>
