<nav class="pull-left <%= local_assigns[:nav_class] %>">
  <ul class="tz-menu nav-collapse themeple_megemenu" id="menu-primary">
    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children" id="menu-item-102">
      <%= link_to t('views.menu.home'), root_path %>
    </li>

    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children" id="menu-item-183">
      <%= link_to t('views.menu.blog.label'), blog_path, target: '_blank' %>
    </li>

    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children" id="menu-item-183">
      <%= link_to t('views.menu.admin_panel'), admin_root_path if current_user.present? and current_user.type == 'Admin' %>
      <%= link_to t('views.menu.customer_panel'), customer_root_path if current_user.present? and current_user.type == 'Customer' %>
    </li>

    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children" id="menu-item-183">
      <%= link_to t('views.app.auth.sign_in'), new_user_session_path if !current_user.present? %>
      <%= link_to t('views.app.auth.sign_out'), destroy_user_session_path, method: 'delete' if current_user.present? %>
    </li>
  </ul>
</nav>
