  <!-- form start -->
<%= simple_form_for([:admin, @post]) do |f| %>
  <%= f.error_notification %>

  <div class="box-body">
    <%= f.input :title %>
    <%= f.input :introduction %>
    <%= f.input :draft %>
    <%= f.input :body, input_html: { 'data-provide': 'markdown' } %>
  </div>
  <div class="box-footer">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_posts_path, class: 'btn btn-danger' %>
  </div>

<% end %>
