<% content_for :page_header, 'Configuration' %>
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Exibindo configuração</h3>
    
    <div class="btn-group btn-group pull-right" role="group">
      <%= link_to 'Edit Post', edit_admin_configuration_path(@configuration), class: 'btn btn-primary' %>btn btn-danger' %>
    </div>
  </div>

  <div class="box-body">
    <div class="row">
      <div class="col-md-2">
        <h3>Cor principal</h3>
        <h1> <%= @configuration.color_1 %> </h1>
      </div>

      <div class="col-md-2">
        <h3>Segunda cor</h3>
        <h1> <%= @configuration.color_2 %> </h1>
      </div>

      <div class="col-md-2">
        <h3>Terceira cor</h3>
        <h1> <%= @configuration.color_3 %> </h1>
      </div>

      <div class="col-md-2">
        <h3>Quarta cor</h3>
        <h1> <%= @configuration.color_4 %> </h1>
      </div>

      <div class="col-md-2">
        <h3>Quinta cor</h3>
        <h1> <%= @configuration.color_5 %> </h1>
      </div>
    </div>
  </div>
</div>
