<%= form_for([:admin, @preference], html: { multipart: true }) do |f| %>
  <div class="box-body">
    <div class="row">
      <div class="col-md-2 form-group">
        <%= f.label t('activerecord.attributes.preference.color_1') %>
        <div class="input-group my-colorpicker2">
          <%= f.text_field :color_1, class: 'form-control' %>
          <div class="input-group-addon">
            <i></i>
          </div>
        </div>
      </div>

      <div class="col-md-2 form-group">
        <%= f.label t('activerecord.attributes.preference.color_2') %>
        <div class="input-group my-colorpicker2">
          <%= f.text_field :color_2, class: 'form-control' %>
          <div class="input-group-addon">
            <i></i>
          </div>
        </div>
      </div>

      <div class="col-md-2 form-group">
        <%= f.label t('activerecord.attributes.preference.color_3') %>
        <div class="input-group my-colorpicker2">
          <%= f.text_field :color_3, class: 'form-control' %>
          <div class="input-group-addon">
            <i></i>
          </div>
        </div>
      </div>
<!--
      <div class="col-md-2 form-group">
        <%= f.label t('activerecord.attributes.preference.color_4') %>
        <div class="input-group my-colorpicker2">
          <%= f.text_field :color_4, class: 'form-control' %>
          <div class="input-group-addon">
            <i></i>
          </div>
        </div>
      </div>

      <div class="col-md-2 form-group">
        <%= f.label t('activerecord.attributes.preference.color_5') %>
        <div class="input-group my-colorpicker2">
          <%= f.text_field :color_5, class: 'form-control' %>
          <div class="input-group-addon">
            <i></i>
          </div>
        </div>
      </div>
    -->
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label t('activerecord.attributes.preference.header_image') %>
        <div class="input-group">
          <%= image_tag @preference.header_image.url, height: '120' %>
          <%= f.file_field :header_image, style: "margin-top: 10px;" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label t('activerecord.attributes.preference.footer_image') %>
        <div class="input-group">
          <%= image_tag @preference.footer_image.url, height: '120' %>          
          <%= f.file_field :footer_image, style: "margin-top: 10px;" %>
        </div>
      </div>
    </div>

    <div class="box-footer">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to t('generic.cancel'), admin_preference_path(current_user), class: 'btn btn-danger' %>
    </div>
  </div>
<% end %>
