<%= form_for([:admin, @preference], html: { multipart: true }) do |f| %>
  <div class="box-body">
    <div class="row">
      <div class="col-md-4 form-group">
        <%= f.label t('activerecord.attributes.preference.color_1') %>
        <div class="input-group my-colorpicker2">
          <%= f.text_field :color_1, class: 'form-control' %>
          <div class="input-group-addon">
            <i></i>
          </div>
        </div>
      </div>

      <div class="col-md-4 form-group">
        <%= f.label t('activerecord.attributes.preference.color_2') %>
        <div class="input-group my-colorpicker2">
          <%= f.text_field :color_2, class: 'form-control' %>
          <div class="input-group-addon">
            <i></i>
          </div>
        </div>
      </div>

      <div class="col-md-4 form-group">
        <%= f.label t('activerecord.attributes.preference.color_3') %>
        <div class="input-group my-colorpicker2">
          <%= f.text_field :color_3, class: 'form-control' %>
          <div class="input-group-addon">
            <i></i>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group custom-form-group">
        <%= f.label t('activerecord.attributes.preference.header_image') %>

        <div class="input-group custom-input-group-for-image">
          <%= @preference.header_image.url.ends_with?('missing.png') ? image_tag('sem-imagem.gif', size: '200x200') : image_tag(@preference.header_image.url, class: 'bg-img-sample-box img-responsive') %>
          <%= f.file_field :header_image, style: "margin-top: 10px;" %>
        </div>

        <%= f.label t('activerecord.attributes.preference.header_image_allowed'), class: 'normal-label' %>
        <%= f.check_box :header_image_allowed %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group custom-form-group">
        <%= f.label t('activerecord.attributes.preference.footer_image') %>

        <div class="input-group custom-input-group-for-image">
          <%= @preference.footer_image.url.ends_with?('missing.png') ? image_tag('sem-imagem.gif', size: '200x200') : image_tag(@preference.footer_image.url, class: 'bg-img-sample-box img-responsive') %>
          <%= f.file_field :footer_image, style: "margin-top: 10px;" %>
        </div>

        <%= f.label t('activerecord.attributes.preference.footer_image_allowed'), class: 'normal-label' %>
        <%= f.check_box :footer_image_allowed %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group custom-form-group">
        <%= f.label t('activerecord.attributes.preference.blog_header_image') %>

        <div class="input-group custom-input-group-for-image">
          <%= @preference.blog_header_image.url.ends_with?('missing.png') ? image_tag('sem-imagem.gif', size: '200x200') : image_tag(@preference.blog_header_image.url, class: 'bg-img-sample-box img-responsive') %>
          <%= f.file_field :blog_header_image, style: "margin-top: 10px;" %>
        </div>

        <%= f.label t('activerecord.attributes.preference.blog_header_image_allowed'), class: 'normal-label' %>
        <%= f.check_box :blog_header_image_allowed %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group custom-form-group">
        <%= f.label t('activerecord.attributes.preference.blog_footer_image') %>

        <div class="input-group custom-input-group-for-image">
          <%= @preference.blog_footer_image.url.ends_with?('missing.png') ? image_tag('sem-imagem.gif', size: '200x200') : image_tag(@preference.blog_footer_image.url, class: 'bg-img-sample-box img-responsive') %>
          <%= f.file_field :blog_footer_image, style: "margin-top: 10px;" %>
        </div>

        <%= f.label t('activerecord.attributes.preference.blog_footer_image_allowed'), class: 'normal-label' %>
        <%= f.check_box :blog_footer_image_allowed %>
      </div>
    </div>

    <div class="box-footer">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to t('generic.cancel'), admin_preference_path(current_user), class: 'btn btn-danger' %>
    </div>
  </div>
<% end %>
