<%= simple_form_for(@preference) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="box-body">
    <div class="row">
      <div class="col-md-6 form-group">
        <%= label_tag "Color picker: " %>      
        <%= text_field, class: 'form-control my-colorpicker1' %>
      </div><!-- /.form group -->

      <!-- Color Picker -->
      <div class="col-md-6 form-group">
        <label>Color picker with addon:</label>
        <div class="input-group my-colorpicker2">
          <input type="text" class="form-control">
          <div class="input-group-addon">
            <i></i>
          </div>
        </div><!-- /.input group -->
      </div><!-- /.form group -->
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script type="text/javascript">
  $(function () {
    //Colorpicker
    $(".my-colorpicker1").colorpicker();
    //color picker with addon
    $(".my-colorpicker2").colorpicker();
  }
</script>