<% content_for :page_header, 'Preferências' %>
<div class="box box-primary">
  <div class="box-header with-border">
    <div class="btn-group btn-group pull-right" role="group">
      <%= link_to t('views.admin.preferences.edit'), edit_admin_preference_path(@preference), class: 'btn btn-primary btn btn-danger' %>
    </div>
  </div>

  <div class="box-header with-border">
    <h3> <%= t('views.admin.preferences.color_scheme') %> </h1>
  </div>

  <div class="box-body">
    <div class="row custom-form-group">
      <div class="col-md-4">
        <h5> <%= t('activerecord.attributes.preference.color_1') %> </h5>
        <h5> <%= @preference.color_1 %> </h5>
        <div class="colorpicker-sample-box" style="background-color: <%= @preference.color_1 %>"> </div>
      </div>

      <div class="col-md-4">
        <h5> <%= t('activerecord.attributes.preference.color_2') %> </h5>
        <h5> <%= @preference.color_2 %> </h5>
        <div class="colorpicker-sample-box" style="background-color: <%= @preference.color_2 %>"> </div>
      </div>

      <div class="col-md-4">
        <h5> <%= t('activerecord.attributes.preference.color_3') %> </h5>
        <h5> <%= @preference.color_3 %> </h5>
        <div class="colorpicker-sample-box" style="background-color: <%= @preference.color_3 %>"> </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 custom-form-group">
        <h5> <%= t('activerecord.attributes.preference.header_image') %> </h5>
        <div class="input-group custom-input-group-for-image">
          <%= t('generic.active_q') %>
          <%= check_box_tag :header_image_allowed_show_page, @preference.header_image_allowed, @preference.header_image_allowed %>
        </div>
        <%= @preference.header_image.url.ends_with?('missing.png') ? image_tag('sem-imagem.gif', size: '200x200') : image_tag(@preference.header_image.url, class: 'bg-img-sample-box img-responsive') %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 custom-form-group">
        <h5> <%= t('activerecord.attributes.preference.footer_image') %> </h5>
        <div class="input-group custom-input-group-for-image">
          <%= t('generic.active_q') %>
          <%= check_box_tag :footer_image_allowed_show_page, @preference.footer_image_allowed, @preference.footer_image_allowed %>
        </div>
        <%= @preference.footer_image.url.ends_with?('missing.png') ? image_tag('sem-imagem.gif', size: '200x200') : image_tag(@preference.header_image.url, class: 'bg-img-sample-box img-responsive') %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 custom-form-group">
        <h5> <%= t('activerecord.attributes.preference.blog_header_image') %> </h5>
        <div class="input-group custom-input-group-for-image">
          <%= t('generic.active_q') %>
          <%= check_box_tag :blog_header_image_allowed_show_page, @preference.blog_header_image_allowed, @preference.blog_header_image_allowed %>
        </div>
        <%= @preference.blog_header_image.url.ends_with?('missing.png') ? image_tag('sem-imagem.gif', size: '200x200') : image_tag(@preference.blog_header_image.url, class: 'bg-img-sample-box img-responsive') %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h5> <%= t('activerecord.attributes.preference.blog_footer_image') %> </h5>
        <div class="input-group custom-input-group-for-image">
          <%= t('generic.active_q') %>
          <%= check_box_tag :blog_footer_image_allowed_show_page, @preference.blog_footer_image_allowed, @preference.blog_footer_image_allowed %>
        </div>
        <%= @preference.blog_footer_image.url.ends_with?('missing.png') ? image_tag('sem-imagem.gif', size: '200x200') : image_tag(@preference.blog_footer_image.url, class: 'bg-img-sample-box img-responsive') %>
      </div>
    </div>
  </div>
</div>
