<!-- Begin Footer -->
<footer class="tz-footer blog-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 footerattr">
        <aside class="widget_contact_info widget" id="contact_info-2">
          <%= link_to image_tag('logo-draw.svg', class: 'footer-logo-1'), root_path %>
          <%= link_to image_tag('logo-text.svg', class: 'footer-logo-2'), root_path %>
        </aside>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 footerattr copyright-area">
        <aside class="widget_widget_logo widget" id="widget_logo-2">
          <p> <%= t('generic.copyright') %> <%= Time.new.year %> <%= t('generic.app_name').upcase %>. </p>
          <p> <%= t('generic.copyright_msg') %> </p>
        </aside>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 footerattr contact-area">
        <aside class="widget_tz_social widget" id="tz_social-2">
          <p><%= t('generic.get_in_touch') %></p>
          <p> <%= "#{t('generic.get_in_touch_name')}" %> </p>
          <p> <%= "#{t('generic.get_in_touch_email')}" %> </p>

          <!-- <h3 class="module-title title-widget">
            <span> <%= t('generic.social_networks') %> </span>
          </h3>
          <div class="tz_social">
            <a class="fa fa-facebook" href="https://www.facebook.com/DIcore-1502685986693256/?ref=ts&fref=ts" target="_blank"></a>
            <a class="fa fa-instagram" href="https://www.instagram.com/dicoreinteriores/" target="_blank"></a>
            <a class="fa fa-google-plus" href="#"></a>
            <a class="fa fa-twitter" href="#"></a>
            <a class="fa fa-youtube" href="#"></a>
          </div> -->
        </aside>
      </div>
    </div>
    <!--end class row-->
  </div>
  <!--end class container-->
</footer>
<!-- End Footer -->
