<aside class="widget_recent_entries widget" id="recent-posts-2">
  <h3 class="module-title title-widget">
    <%= t("views.blog.popular_posts") %>
  </h3>

  <ul>
    <% @posts.last(5) do |post| %>
    <li>
      <%= link_to post.title, post %>
    </li>
    <% end %>
  </ul>
</aside>

<aside class="widget_categories widget" id="categories-2">
  <h3 class="module-title title-widget">
    <%= t("views.blog.categories") %>
  </h3>

  <ul>
    <% @categories.each do |categ| %>
    <li class="cat-item cat-item-14">
      <%= link_to categ.name, by_category_path(categ.name) %>
    </li>
    <% end %>
  </ul>
</aside>

<aside class="widget_archive widget" id="archives-2">
  <h3 class="module-title title-widget">
    <%= t("views.blog.archives") %>
  </h3>

  <ul>
    <% @archives.each do |k,v| %>
    <li class="cat-item cat-item-14">
      <%= link_to l(k.to_date, format: :month_year), by_month_path(k.to_date) %>
    </li>
    <% end %>
  </ul>
</aside>
