<div class="home-post">
  <div class="tzblog-columns">
    <div class="container">
      <div class="row tzshow_sidebar">
        <div class="col-md-9">
          <% @posts.each_with_index do |post, index| %>
            <article 
              id="post-<%= post.id %>" 
              class="post-<%= post.id %> post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-love tag-songs blog-post"
            >
              <% unless post.main_image.nil? %>
                <div class="tzblog-img tzblog-format">
                  <a href="<%= post_path(post.id) %>">
                    <%= image_tag post.main_image.url(:cropped), class: 'attachment-post-thumbnail wp-post-image img-responsive' %>
                  </a>
                </div>
              <% end %>

              <h2 class="tzblog-title"><%= link_to post.title, post_path(post.id) %></h2>

              <div class="blog_meta">
                <span class="tzblog_date">
                  <%= l post.created_at %>
                </span>

                <span class="tztags_link">
                  <% post.tags.each do |tag| %>
                    <%= link_to tag.name, tag_path(tag.name) %>
                  <% end %>
                </span>
              </div>

              <div class="tzthe_content">
                <p><%= post.introduction %></p>
                <%= link_to t('views.blog.see_more'), post_path(post.id), class: 'more-link' %>
              </div>

              <% if index == 0 %>
                <div class="tzthe_content text-center">
                  <script async src="//"></script>
                  <ins class="adsbygoogle"
                       style="display:inline-block;width:728px;height:90px"
                       data-ad-client="ca-pub-4116031825041905"
                       data-ad-slot="3506349071"></ins>
                  <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>              
              <% end %>
            </article>            
          <% end %>

          <div class="tzpagenavi-blog">
            <%= paginate @posts %>
          </div>
        </div>

        <div class="col-md-3 tzsidebar-event">
          <%= render 'right_section' %>
        </div>
      </div>
    </div>
  </div>
</div>
