<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= t('views.admin.title') %></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= stylesheet_link_tag 'admin/application', media: 'all' %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body class="hold-transition skin-purple sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <%= link_to :admin_posts, class: 'logo' do %>
          <span class="logo-mini"><b>DI</b>On</span>
          <span class="logo-lg"> <b> <%= t("generic.app_name") %> </b>
        <% end %>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>

          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu">
                <!-- Menu toggle button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">5</span>
                </a>

                <ul class="dropdown-menu">
                  <li class="header"><%= t 'views.admin.you_have_n_messages', msg_count: 5 %></li>
                  <li>
                    <!-- inner menu: contains the messages -->
                    <ul class="menu">
                      <li><!-- start message -->
                        <a href="#">
                          <div class="pull-left">
                            <!-- User Image
                            <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                            -->
                          </div>
                          <!-- Message title and timestamp -->
                          <h4>
                            Usuário 1
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>
                          <!-- The message -->
                          <p>Olá, tenho uma dúvida</p>
                        </a>
                      </li><!-- end message -->
                    </ul><!-- /.menu -->
                  </li>
                  <li class="footer"><a href="#"><%= t('views.admin.view_all_messages') %></a></li>
                </ul>
              </li><!-- /.messages-menu -->

              <!-- Notifications Menu -->
              <li class="dropdown notifications-menu">
                <!-- Menu toggle button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">5</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header"><%= t 'views.admin.you_have_n_notifications', notif_count: 5 %></li>
                  <li>
                    <!-- Inner Menu: contains the notifications -->
                    <ul class="menu">
                      <li><!-- start notification -->
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 novas solicitações de projeto
                        </a>
                      </li><!-- end notification -->
                    </ul>
                  </li>
                  <li class="footer"><a href="#"><%= t('generic.view_all_f') %></a></li>
                </ul>
              </li>

              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                  <%= image_tag current_user.avatar.url(:thumb), class: 'user-image' %>
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs"><%= current_user.name %></span>
                </a>

                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <%= image_tag current_user.avatar.url(:thumb), class: 'img-circle' %>
                    <p>
                      <%= current_user.name %>
                      <small><%= t('views.admin.member_since') %> <%= l(current_user.created_at.to_date, format: :month_year) %></small>
                    </p>
                  </li>

                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat"><%= t('views.admin.my_profile') %></a>
                    </div>

                    <div class="pull-right">
                      <%= link_to t('views.app.auth.sign_out'), destroy_user_session_path, method: 'delete', class: 'btn btn-default btn-flat' if current_user.present? %>
                    </div>
                  </li>
                </ul>
              </li>

              <!-- <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li> -->
            </ul>
          </div>
        </nav>
      </header>

      <aside class="main-sidebar">
        <section class="sidebar">
          <ul class="sidebar-menu">
            <li class="header"><%= t('views.admin.menu.title') %></li>

            <li class="treeview">
              <a href="#">
                <i class="fa fa-pencil-square-o"></i>
                <span><%= t('views.admin.menu.blog') %></span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>

              <ul class="treeview-menu">
                <li>
                  <%= link_to admin_posts_path do %>
                    <i class="fa fa-circle-o"></i> <%= t('activerecord.models.post.other') %>
                  <% end %>
                </li>

                <li>
                  <%= link_to new_admin_post_path do %>
                    <i class="fa fa-circle-o"></i> <%= t('views.admin.submenu.new_post') %>
                  <% end %>
                </li>

                <li>
                  <%= link_to admin_categories_path do %>
                    <i class="fa fa-circle-o"></i> <%= t('views.admin.submenu.categories') %>
                  <% end %>
                </li>

                <li>
                  <%= link_to new_admin_category_path do %>
                    <i class="fa fa-circle-o"></i> <%= t('views.admin.submenu.new_category') %>
                  <% end %>
                </li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#">
                <i class="fa fa-files-o"></i>
                <span><%= t('views.admin.menu.assets') %></span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>

              <ul class="treeview-menu">
                <li>
                  <%= link_to admin_assets_path do %>
                    <i class="fa fa-circle-o"></i> <%= t('views.admin.submenu.assets') %>
                  <% end %>
                </li>

                <li>
                  <%= link_to new_admin_asset_path do %>
                    <i class="fa fa-circle-o"></i> <%= t('views.admin.submenu.new_asset') %>
                  <% end %>
                </li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#">
                <i class="fa fa-users"></i>
                <span><%= t('activerecord.models.user.other') %></span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>

              <ul class="treeview-menu">
                <li>
                  <%= link_to admin_users_path do %>
                    <i class="fa fa-circle-o"></i> <span> <%= t('activerecord.models.user.other') %> </span>
                  <% end %>
                </li>

                <li>
                  <%= link_to new_admin_user_path do %>
                    <i class="fa fa-circle-o"></i> <%= t('views.admin.submenu.new_user') %>
                  <% end %>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </aside>

      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            <%= yield :page_header %>
          </h1>
        </section>

        <section class="content">

          <% if notice %>
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= notice %>
            </div>
          <% end %>

          <% if alert %>
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= alert %>
            </div>
          <% end %>

          <%= yield %>

        </section>
      </div>

      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <%= t('views.admin.title') %>
        </div>
        <strong>Copyright &copy; <%= Time.new.year %> <%= link_to t('generic.app_name'), root_path %> </strong> <%= t('generic.copyright_msg') %>
      </footer>

      <aside class="control-sidebar control-sidebar-dark">
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="control-sidebar-home-tab">
            <!-- <h3 class="control-sidebar-heading"><%= t('views.admin.recent_activities') %></h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
            </ul> -->

            <!-- <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
            </ul> -->

          </div>
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div>
            </form>
          </div>
        </div>
      </aside>
      <div class="control-sidebar-bg"></div>
    </div>

    <%= javascript_include_tag 'admin/application' %>
  </body>
</html>
