<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
<!--<![endif]-->

<%= render 'blog/head' %>

  <body class="themecolorCustom">
    <!-- Begin section images loading -->
    <div id="tzloadding">
      <%= image_tag 'site/loading.gif', class: 'loadding_img' %>
    </div>
    <!-- End section images loading -->
    <!-- Begin section everline_boxed -->
    <div class="everline_boxed">
      <%= content_for?(:header) ? yield(:header) : render('blog/header') %>

      <%= yield %>

      <%= render 'shared/footer' %>
      <!-- End class container-->
    </div>
    <!-- End section everline_boxed -->
    <%= javascript_include_tag 'application' %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </body>

  </body>

</html>
